<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.khunect_01">

    <!-- 유저 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:scrollbars="none"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loading"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MyClassActivity" />
        <activity android:name=".TogetherActivity" />
        <activity android:name=".AdsActivity" />
        <activity android:name=".TradeActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SearchhomeActivity" />
        <activity android:name=".ClassboardActivity" />
        <activity android:name=".AdsAlbaActivity" />
        <activity android:name=".TogetherHobbyActivity" />
        <activity android:name=".TradeSellActivity" />
        <activity android:name=".HotgaeActivity" />
        <activity android:name=".PostingActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".AdsContestActivity"></activity>
    </application>

</manifest>